.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-3 { fill: #44a340; }
.react-calendar-heatmap .color-scale-4 { fill: #1e6823; }
.react-calendar-heatmap .color-empty {
  fill: #444444;
}
.react-calendar-heatmap .hello {
  stroke: gray;
  stroke-width: 1.5px;
  animation: pulse-border 2s infinite;
}

@keyframes pulse-border {
  0% { stroke-opacity: 0.5; }
  50% { stroke-opacity: 1; }
  100% { stroke-opacity: 0.5; }
}
